.text-cc {
    color: #FF9900 !important;
}

.btn-circle {
    width: 38px;
    height: 38px;
    text-align: center;
    padding: 4px 4px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 19px;
}


.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 4px 4px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-md {
    width: 40px;
    height: 40px;
    padding: 6px 6px;
    font-size: 16px;
    line-height: 1.38;
    border-radius: 20px;
}

.btn-circle.btn-lg {
    width: 48px;
    height: 48px;
    padding: 8px 8px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 24px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-md, .btn-group-md > .btn {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.circle {
    width: 40px;
    height: 40px;
    padding: 6px 6px !important;
    border-radius: 20px;
}

.circle-lg {
    width: 50px;
    height: 50px;
    padding: 8px 8px !important;
    font-size: 18px;
    border-radius: 25px;
}

.circle-small {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px 5px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.circle-mini {
    width: 24px;
    height: 24px;
    text-align: center;
    padding: 4px 4px;
    font-size: 10px;
    line-height: 1.428571429;
    border-radius: 12px;
}
